* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Outfit', sans-serif;
        font-size: 15px;
  }
  
body{
    background-color: hsl(212, 45%, 89%);
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  width:320px;
  height:500px;
  margin: auto;
  text-align: center;
}
img{
  border-radius: 5%;
  width:295px;
  height: 295px;
  margin: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-content-1>h1{
  font-weight: 700;
  font-size: 1.4rem;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
  color: hsl(218, 44%, 22%)

}
.card-content-2{
  color: hsl(220, 15%, 55%);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}